<!DOCTYPE html>
<head>
    <title>个人简历</title>
</head>
<body>
    <div>
        <h1>个人简历</h1>
    </div>
    <div>
        <h2>个人信息</h2>
        <ul>
            <li>林垦/男/1997</li>
            <li>本科/广东海洋大学海洋技术系</li>
            <li>2020毕业生/无工作经验/实习经验：一个月</li>
            <li>期望城市：珠三角或汕头</li>
            <li>期望职位：PHP前端开发</li>
        </ul>
    </div>
    <div>
        <h2>联系方式</h2>
        <ul>
            <li>手机/微信：13249549577</li>
            <li>邮箱：xuenhuo@gmail.com</li>
        </ul>
    </div>
    <div>
        <p><del>专业学习与应聘岗位不同，所以不赘述</del></p>
        <p><del>实习岗位与应聘岗位不同，所以不赘述</del></p>
    </div>
    <div>
        <h2>作品介绍</h2>
        <p>基于PHP、Laravel框架实现的一个购物网站和一个公司网站</p>
        <p>前台展示页面属于网络资源，本人主要是基于前台页面所需内容，使用PHP、Mysql、js、css(bootstrap)等
            语言去实现对前台页面的控制，即后台部分</p>
        <p>公司网站属于介绍类型，主要有主页、产品、文章、联系、关于等页面</p>
        <p>购物网站主要涉及购物网站所需的大部分关系表与页面：用户、产品、购物车、订单、评论、分类等</p>
        <p>购物网站还包括blog网站的所需的关系表与页面：用户、文章、评论、标签等</p>
        <p>详情可见下列网站</p>
        <a href="#">公司网页</a>
        <a href="#">购物网站</a>
    </div>
    <div>
        <h2>个人技能</h2>
        <ul>
            <li>Web开发：PHP</li>
            <li>Web框架：Laravel,Vue</li>
            <li>前端框架：HTML5、Bootstrap</li>
            <li>数据库、缓存：MySQL、Redis、Memcached</li>
            <li>服务器：Nginx</li>
            <li>版本管理、文档和自动化部署工具:Git、Composer</li>
            <li>有Linux系统使用基础</li>
        </ul>
    </div>
</body>